@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/dylan-mccarthy" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://linkedin.com/in/dylan-mccarthy-181199ab" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://twitter.com/DMCAsAService" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
